version 5.216.0
framework: auto-detect
storage: none
source https://api.nuget.org/v3/index.json

nuget Fable.Browser.Worker
nuget Fable.Core 3.0.0
nuget Fable.Elmish.HMR
nuget Fable.Elmish.React 3.0.1
nuget FSharp.Core 4.6.2
nuget Fulma